# Document Parsing
pypdf

# LangChain Core and Community
langchain
langchain-community
# langchain-ollama
langchain-experimental
langgraph
tavily-python 
dotenv
langchain_tavily
langchain_huggingface
langchain_groq
# Vector Store and Math
faiss-cpu
numpy

# Optional but recommended for performance
tiktoken
sentence-transformers 
#Fastapi
fastapi
uvicorn

#STREAMLIT
streamlit

python-multipart
openpyxl>=3.1.0

#api call : uvicorn apiCall.api:app --reload
#streamil: streamlit run FrontEnd\UI.py